body {
    overflow: hidden;
}

#coordinates {
    width: 2000px;
    height: 1000px;
    position: absolute;
}

#c {
    width: 100%;
    height: 100%;
    position: absolute;
}

.coordinate-id {
    position: absolute;
}

#axis {
    width: 2000px;
    height: 1000px;
    position: absolute;
}
