body {
    overflow: hidden;
}

#coordinates {
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 1000px;
    position: absolute;
}

#axis {
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 1000px;
    position: absolute;
}
